<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <style>
      .barra{
        display: flex;
        padding: 10px;
        background: lightgrey;
        margin-bottom: 2rem;
        justify-content: left;
      }

      a{
        color: black;
        text-decoration: none;
        font-weight: bold;
      }

      .primer_link, .ver_todo, .crear{
        margin-left: 5rem;
        font-size: 25px;
      }

    </style>
  </head>
  <body style="padding: 0; margin: 0; background: lightseagreen;">
    <div class="barra">
      <p><a class="primer_link" href="/add_user">Añadir Usuarios</a></p>
      <p><a class="ver_todo" href="/users">Listar Usuarios</a></p>
      <p><a class="crear" href="/add_car">Añadir Coches</a></p>
      <p class="cuart_link"><a class="ver_todo" href="/cars">Listar Coches</a></p>
    </div>
    {{{body}}}
  </body>
</html>
